<div class="modal fade" id="pill-<%= pill.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <%= render 'pills/show_modal', pill: pill  %>
</div>


<div class="col-xs-12 col-sm-6 col-md-4 card-pill-container" data-pill-id="<%= pill.id %>">
  <%= render 'pills/card-pill', pill: pill %>
</div>
