<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-4">
        <%= image_tag "Group.png", class: "footlogo" %>
      </div>
      <div class="col-xs-6 col-sm-4 text-center">
       <ul class="social-icon animate">
        <li><a href="#" title="facebook" target="_blank"><i class="fa fa-facebook"></i></a></li> <!-- change the link to social page and edit title-->
        <li><a href="#" title="twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#" title="google plus" target="_blank"><i class="fa fa-google-plus"></i></a></li>
      </ul>
    </div>
    <div class="col-xs-6 col-sm-4">
      <div class="footer-links">
        <p class="footfont"><a href="#" target="_blank">Qui sommes-nous ?</a></p>
        <p class="footfont"><a href="#" target="_blank">FAQ</a></p>
        <p class="footfont"><a href="#" target="_blank">Contact</a></p>
      </div>

    </div>
  </div>
</div>
</footer>
