<div class="navbar-wagon padded-large-sides">

  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
  <%= image_tag "Group.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Different navigation if login or not -->
    <% if user_signed_in? %>

    <!-- Notification -->


    <!-- Profile picture and dropdown -->

    <% end %>

  </div>
</div>

