<div class="navbar-pills padded-large-sides">

  <!-- Logo -->

  <%= link_to root_path, class: "yo-button" do %>
  <p>P</p>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <div class="cart-btn-modal">
      <div class="cart-wrapper">
        <div class="cart-button btn btn-primary" data-toggle="modal" data-target="#mycart">
          <i class="fa fa-medkit normal-icon"></i>
          <div class="items-count"><%= @cart.nb_items %></div>
        </div>
      </div>
    </div>

  </div>
</div>

