<div class="banner">
  <div class="banner-content">
    <h1 class="heading-home"><strong>P</strong>ills</h1>
    <p class="p-home"><span class="highlight-container"><span class="highlight"><strong>Dé</strong>livreur de <strong>santé</p></strong></span></span>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-offset-3">
          <div id="custom-search-input">
            <%= render 'search-form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
