<div class="container">
  <div class="sky">
    <div class="title">Pills</div>
    <h2 class="subtitle">Livreur de santé</h2>
    <div class="stars"></div>
    <div class="stars1"></div>
    <div class="stars2"></div>
    <div class="shooting-stars"></div>
  </div>
</div>
