<div class="container">
  <div class="row">
    <div class="sky">
      <div class="text-home">
        <div class="title">Pills</div>
        <h2 class="subtitle">Livreur de santé</h2>
      </div>

      <div class="search-bar">
        <div id="custom-search-input">
          <%= render 'search-form' %>
        </div>
      </div>

      <div class="stars"></div>
      <div class="stars1"></div>
      <div class="stars2"></div>
      <div class="shooting-stars"></div>
    </div>
  </div>
</div>
