<div class="banner">
  <div class="banner-content">
    <h1 class="heading-home"><span class="highlight-container"><span class="highlight"><strong>P</strong>ills</h1></span></span>
    <p class="p-home"><strong>Dé</strong>livreur de <strong>santé</p></strong>
    <div class="container">
      <div class="row">
        <div class="search-bar">
          <div id="custom-search-input">
            <%= render 'search-form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container green-section">
  <div class="home-row">
    <div class="col-md-4 col-sm-4 text-center">
      <%= image_tag "payment.png" %>
      <h3 class="blue-headline">Paiement</h3>
    </div>
    <div class="col-md-4 col-sm-4 text-center">
      <%= image_tag "certificate.png" %>
      <h3 class="blue-headline">Pharmacie certifiée</h3>
    </div>
    <div class="col-md-4 col-sm-4 text-center">
      <%= image_tag "chat.png" %>
      <h3 class="blue-headline">Support 24/7</h3>
    </div>
  </div>
</div>
<div class="container blue-section">
  <div class="about-row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6 col-sd-6 text-center">
      <h2 class="green-headline">Qu'est <strong>ce</strong> que <strong>Pills</strong></h2>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>

