// Your footer style
body{background-color: #fff;}

.align{
  line-height: 44px;
  color: white;
}

.social-icon {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 20px;
}

.social-icon li{
  display: inline-block;
  text-align: center;
}

.social-icon a {
  display: block;
  width: 44px;
  height: 44px;
  line-height: 44px;
  border-radius: 50%;
  margin-right: 5px;
}

.social-icon a {
  // background: rgba(255, 255, 255, 0.85); /* social icon background color */
  color: white; /* social icon color */
}

.social-icon a:hover {
  // background: rgba(255, 255, 255, 0.25); /* social icon hover background color */
  color: $green; /* social icon hover color */
}

.footer {
  position: absolute;
  bottom: 0;
  padding-top: 5px;
  width: 100%;
  height: 60px;
  background-color: $blue;
  position: relative;
  z-index:1000;
  margin-top: 25px;
}

.footer-links {
  display:flex;
  justify-content: flex-end;
  p {
    margin-left: 20px;
    margin-top: 12px;
  }
}

.footfont a{
  color: white;
}

.footfont a:hover{
  color: $green;
  text-decoration: none;
}

.footlogo{
  width: 15%;
  padding-top: 5px;
}

.align-right{
  line-height: 44px;
  color: white;
  text-align: right;
}
