.navbar-pills {
  background: transparent;
  transition: all 0.3s ease;
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
  position: relative;
}

.navbar-pills-fixed {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 100%;
}

/* Navbar logo */

.navbar-pills-brand{
  width: 100%;
}

.yo-button {
  border-radius: 50px;
  border: 1px solid transparent;
  border-color: #0fb5bf;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: space-around;
  height: 50px;
  width: 50px;
  opacity: 0.8;
  position: fixed;
  top: 10px;
  left: 40px;
  background-color: $blue;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.yo-button p {
  margin: 0 0 4px;
}

.yo-button:hover {
  text-decoration: none;
  color: white;
  background-color: #0d9ea8;
  border-color: #0b7f87;
}

.navbar-pills-brand img {
  // justify-content: space-between;
  width: 12%;
  margin-top: 10px;
  margin-left: 40px;
}
