/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */
// Fonts
h1 h2 h3 p{
  font-family: Muli !important;
}

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

.padded-large-sides {
  padding-left: 10vw;
  padding-right: 10vw;
}

.no-padding-left{
  padding-left: 0px !important;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

.mark-bg{
  position: absolute;
  top: 0;
  right: 0;
  left: 380px;
  bottom: 0;
  img{
    background-size: cover !important;
    width: calc(100vw - 380px);
    height: 100vh;
    object-fit: cover;
  }
}

.promis{
  text-align: center;
  font-family: "Helvetica";
  font-weight: lighter;
  h3 {
    margin-top: 11px;
  }
}

.social {
  padding-bottom: 5%;
}

.form-inputs {
  font-family: "Helvetica";
  font-weight: lighter;
}

.form-actions {
  font-family: "Helvetica";
  font-weight: lighter;
}

.forgotten {
  font-family: "Helvetica";
  font-weight: lighter;
}
