<div class="modal-dialog stylize" id='modalpayment' role="document">
  <div class="modal-content radiuz">
    <div class="container">
      <div class="row text-center">
        <div class="col-sm-6 col-sm-offset-3">
        <br><br>
          <h2 style="color:$blue">Happy Pills!</h2>
          <i class="fa fa-check-square-o" aria-hidden="true"></i>
          <h3>Votre commande est bien enregistrée.</h3>
          <p style="font-size:20px;color:#5C5C5C;">N'hésitez pas à nous (re)contacter pour toutes questions.</p>
            <div class="buttons-con">
    <div class="action-link-wrap">
      <a onclick="history.back(-1)" class="link-button link-back-button">Retour</a>
      <a href="/" class="link-button">Accueil</a>
    </div>
  </div>
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
