.cart-control {
  display: flex;
}
#search-bar-form {
  margin-top: 25px;
  .form-group {
    margin-bottom: 0;
  }
  .form-control {
   width: 420px;
   border-radius: 4px;
  }
  input[type="submit"] {
    height: 25px;
    border-radius: 20px;
    position: relative;
    right: 41px;
    width: 14px;
    border: 0px;
  }
  .glyphicon-search {
    position: relative;
    right: 60px;
    color: white;
    font-size: 12px;
  }
}
