.cart-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
}

#mycart {
  height: 100vh;
  width: 380px;
  background-color: white;
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cart-button {
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 10%;
  border-radius: 5px;
  opacity: 0.8;
  position: absolute;
  top: 10px;
  right: 10px;
}

.normal-icon {
  font-size: 30px;
  margin: 8px;
}

.items-count {
  font-size: 16px;
  background-color: white;
  color: $blue;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 30px;
  width: 30px;
  text-align: center;
  border-radius: 50%;
  margin: 8px;
  font-weight: bold;
}

.badge-icon {
  background-color: $blue;
  color: $blue;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: auto;
}

.large-icon {
  font-size: 45px;
  color: white;
}
