.order-banner {
  position: absolute;
  top: 85px;
  width: 100%;
  text-align: center;
  p {
    margin: 0;
  }
}

.pickers {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 5%;
}

.map {
  position: relative;
  margin-top: -5%;
  z-index: 0;
  box-shadow: 0 6px 9px -10px rgba(104, 108, 123, 0.5);
}

.change-timeslot {
  position: absolute;
  top: 100px;
}

.map-text {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px 20px;
  background-color: $blue;
  border-radius: 20em;
  opacity: 0.9;
  font-size: 16px;
  font-weight: lighter;
  color: white;
}

.map-text p {
  padding: 0 7px;
}

.timeslot p:last-child {
  font-size: 10px;
}

.place-picker p:last-child {
  font-size: 10px;
}

.btn:hover {
  color: #0d9ea8;
}

.form-control {
  color: $dark-gray;
  border-radius: 4px;
}

.input-group-addon {
  color: $blue;
  border-radius: 4px;
}

.btn-pencil {
  font-size: 25px;
  padding: 0 7px;
}
