.checkout {
  width: 380px;
  height: 100vh;
  background-color: $light-gray;
  position: fixed;
  left: 0;
  top: 0;
  color: $blue;
  box-shadow: 1px -1px 3px rgba(0, 0, 0, 0.1);
}

.cart-payment {
  width: 380px;
  height: 60px;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.1);
}

.stripe-button-el {
  background: none !important;
  background-image: none !important;
  box-shadow: none !important;
  width: 100% !important;
  span {
    background: $blue !important;
    border: none !important;
    box-shadow: none !important;
    width: 95% !important;
    padding: 3px !important;
    height: 40px !important;
    line-height: 35px !important;
    margin: auto !important;
    font-size: 16px !important;
    border-radius: 2px !important;
    border: 1px solid #0fb5bf !important;
    font-family: Muli !important;
    text-shadow: none !important;
  }
}

.fa-chevron-left {
  color: $light-gray;
  font-size: 30px;
  margin-right: 15px;
  margin-left: 15px;
}

.payment-product {
  width: 100%;
  height: 100px;
  border-bottom: 0.3px solid #EFF1F4;
  color: $dark-gray;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.payment-product:last-child {
  margin-bottom: 10px;
}

.payment-product:hover {
  background-color: white;
}

.notify {
  display: block;
  background: #fff;
  padding: 12px 18px;
  max-width: 400px;
  margin: 0 auto;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px;
}

.notify h1 { margin-bottom: 6px; }

.successbox h1 { color: #678361; }
.errorbox h1 { color: #6f423b; }

.successbox h1:before, .successbox h1:after { background: #cad8a9; }
.errorbox h1:before, .errorbox h1:after { background: #d6b8b7; }

.notify .alerticon {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}

.stylize{
  h1, h2, h3, p{
    font-family: Muli;
  }
  i[class^="fa fa-check-square-o"]{
    font-size: 70px;
    color: #9FEED1;
  }
  margin: 15vh auto !important;
}

.buttons-con .action-link-wrap {
  margin-top: 40px;
}
.buttons-con .action-link-wrap a {
  background: #11CBD7;
  padding: 8px 25px;
  border-radius: 4px;
  color: #FFF;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.3s linear;
  cursor: pointer;
  text-decoration: none;
  margin-right: 10px
}
.buttons-con .action-link-wrap a:hover {
  background: #5A5C6C;
  color: #fff;
}

.radiuz{
  border-radius: 3%;
}

.modiz{
  margin-top: 5px;
  margin-bottom: 25px;
}
