#pickers {
  width: 380px;
  height: 100vh;
  background-color: $light-gray;
  position: fixed;
  left: 0;
  top: 0;
  color: $blue;
  p {
    padding: 0 7px;
  }
}

.delivery-infos {
  display: flex;
  border-bottom: 0.3px solid #EFF1F4;
  color: $blue;
  height: auto;
  width: 380px;
  align-items: center;
  margin-left: 15px;
}

.signup-wrapper .form-control {
  height: 40px;

}

.signup-wrapper .search {
  height: 40px;
  font-size: 16px;
}

.signup-wrapper .submit {
  height: 30px;
  width: 30px;
}

.glyph-size {
  height: 19px;
  width: 0%;
}

.change-delivery-time {
  border-bottom: 0.3px solid #EFF1F4;
  margin-bottom: 20%;
}

.flexbox-demo-modal{
  text-align: center;
  position: relative;
  width: 100%;
  // padding-top: 50px;
  -webkit-box-pack: inherit;
  -ms-flex-pack: inherit;
  justify-content: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.total p {
  margin: 0;
}

.cart-change {
  width: 100%;
  height: 60px;
  color: $dark-gray;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  margin-top: 10px;
  box-shadow: 1px -1px 3px rgba(0, 0, 0, 0.1);
}

.timepicker {
  padding-bottom: 10px;
  background-color: white;
}

.pickers-wrapper {
  width: 80%;
  margin: auto;
  background-color: white;
}

.pickers-wrapper-two {
  width: 80%;
  margin: auto;
}

.whiter {
  background-color: white;
  border-bottom: 0.3px solid #EFF1F4;
}

.whiter-two {
  background-color: white;
  border-bottom: 0.3px solid #EFF1F4;
  padding-bottom: 42px;
}

.modal{
  padding-right: 0 !important;
}
