#pickers {
  width: 380px;
  height: 100vh;
  background-color: $light-gray;
  position: fixed;
  left: 0;
  top: 0;
  color: $blue;
  font-family: Muli;
  p {
    padding: 0 7px;
  }
}

.delivery-infos {
  display: flex;
  border-bottom: 0.3px solid #EFF1F4;
  color: $blue;
  height: auto;
  width: 380px;
  align-items: center;
  margin-left: 15px;
}

.glyph-size {
  height: 19px;
  width: 0%;
  right: -10px;
}

.change-delivery-time {
  border-bottom: 0.3px solid #EFF1F4;
  margin-bottom: 20%;
}

.flexbox-demo-modal{
  text-align: center;
  position: relative;
  width: 100%;
  // padding-top: 50px;
  -webkit-box-pack: inherit;
  -ms-flex-pack: inherit;
  justify-content: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.total p {
  margin: 0;
}

.cart-change {
  width: 100%;
  height: 60px;
  color: $dark-gray;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: bold;
  margin-top: 10px;
  box-shadow: 1px -1px 3px rgba(0, 0, 0, 0.1);
}

.timepicker {
  padding-bottom: 10px;
  background-color: white;
}

.pickers-wrapper {
  width: 80%;
  margin: auto;
  background-color: white;
}

.pickers-wrapper-two {
  width: 80%;
  margin: auto;
}

.whiter {
  background-color: white;
  border-bottom: 0.3px solid #EFF1F4;
}

.whiter-two {
  background-color: white;
  border-bottom: 0.3px solid #EFF1F4;
  padding-bottom: 42px;
}

.modal{
  padding-right: 0 !important;
}

.blue-icon-two {
  color: $blue;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 30px;
  margin: 2.7px;
}

.cart-change .total {
  margin: 0;
}

.timer .form-control {
  border-radius: 4px;
  border: none;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1) !important;
  height: 40px;
}

.placer {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1) !important;
  border-radius: 4px !important;
  padding: 0 15px;
  height: 40px;
  font-size: 13px;
  color: rgba(183, 178, 178, 0.5);
}

.placer-two {
  height: 35px;
}

.timer-two {
  height: 40px;
  width: 100%;
}

.timer-two:hover {
  color: white;
}
