#signup {
  width: 380px;
  height: 100vh;
  background-color: $light-gray;
  position: fixed;
  left: 0;
  top: 0;
  color: $blue;
}

.signup-wrapper {
  width: 80%;
  height: 80%;
  margin: auto;
  margin-top: 20px;
  color: $dark-gray;
}

.cart-recap p {
  margin: 0;
  padding: 0 7px;
}

.fa-chevron-left {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 30px;
  margin: 8px;
}
